html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  a {
    color: black;
  }
  
  .nav_bar {
    background-color: black;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nav_button {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .nav_text {
    color: white;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .bg-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #home {
    text-align: center;
    padding: 250px 212px;
    height: 100%;
    line-height: 5px;
  }
  
  .name {
    font-size: 8vw;
    font-family: "Playfair Display", serif;
  }
  
  .title {
    text-align: center;
    font-family: "Playfair Display", serif;
    padding: 50px;
  }
  
  #about {
    height: 768px;
  }
  
  .me {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  
  .bio {
    padding: 0px 250px;
    font-family: "Lato", sans-serif;
  }
  
  .me,
  .bio {
    display: inline-block;
  }
  
  #experience {
    height: 768px;
  }
  
  .work-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
  }
  
  .tab {
    float: left;
    background-color: white;
    height: 300px;
  }
  
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    float: left;
    padding: 0px 12px;
    height: 300px;
    display: none;
    font-family: "Lato", sans-serif;
  }
  
  #project {
    height: 768px;
  }
  
  .project-card {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px;
    width: 90%;
    height: 130px;
  }

  .project-picture {
    width: 100px;
    height: 100px;
    align-content: center;
  }
  
  .project-info {
    padding: 2px 16px;
    line-height: 15px;
    font-family: "Lato", sans-serif;
  }
  
  #contact {
    height: 768px;
    font-family: "Lato", sans-serif;
  }

  .logo {
    width: 50px;
    height:50px;
  }
  