html{
    scroll-behavior: smooth;   
}

.nav_bar {
    background-color: black;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav_button {
    float: left;
    width: 25%;
}

.nav_text {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#home {
    text-align: center;
    padding: 212px;
}
